body {
  width: 100vw;
  /* background: linear-gradient(180deg, #bea0d4 0%, rgb(199, 235, 255) 100%); */
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}