.card {
    margin-top: 10px;
    height: auto;
    border-radius: 20%;
}

.todoContainer {
    margin-top: 50px;
}

.cardBody {
    display: flex;
    justify-content: space-between
}

.cardEditBtn,
.cardDeleteBbtn {
    margin-left: 10px;
}